<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="Azure Devops" value="https://lat-devops.tlt.psu.edu/DefaultCollection/Library/_packaging/NET5/nuget/v3/index.json" />
  </packageSources>
  <config>
    <add key="defaultPushSource" value="https://lat-devops.tlt.psu.edu/DefaultCollection/Library/_packaging/NET5/nuget/v3/index.json" />
  </config>
  <apikeys>
    <add key="https://lat-devops.tlt.psu.edu/DefaultCollection/Library/_packaging/NET5/nuget/v3/index.json" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAagHXbxJqRUONsJ5rRSGH2AAAAAACAAAAAAADZgAAwAAAABAAAABWltF0zUhydBEodcWIhjDwAAAAAASAAACgAAAAEAAAABzMr259yDYIrB81pQw4JNAQAAAAfV3JQkQd7Ajv+Rr7Vvd71hQAAABFhGaNKoPV+B5wViuqzqanGesT9w==" />
  </apikeys>
</configuration>
