<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="TLT.Release" value="https://lat-devops.tlt.psu.edu/DefaultCollection/Library/_packaging/TLT%40Release/nuget/v3/index.json" />
  </packageSources>
</configuration>
